.DrawerToggle {
  display: inline-block;
  cursor: pointer;
}

.DrawerToggle div {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

@media (min-width: 499px) {
  .DrawerToggle {
    display: none;
  }
}
